.effect {
  perspective: 100px;
  perspective-origin: left;
  transform: scale(1);
  transition: 2s cubic-bezier(0.36, 0.17, 0.12, 1.23);
  box-shadow: rgb(243 237 237 / 75%) 0 -2px 20px 4px;

  &:hover {
    opacity: 1 !important;
    transform-style: preserve-3d;
    transform: perspective(200px) rotateY(-5deg);
  }
}
